.descricaoCatalogo {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.carouselImg {
    max-width: 200px;
    margin: 10px 0 5px 0;
}

.carousel-control-next:hover {
    background-color: #ffc10765;
}

.carousel-control-prev:hover {
    background-color: #ffc10765;
}

.tituloCarousel {
    font-weight: bold;
}